<div class="container-fluid mt-5 mb-5 pb-5">
  <div class="m-3 card">
    <div class="card-body">
      <div id="chart-container" data-type='admin'>
        <div id="chart-line">
          <%= javascript_pack_tag "chart/line" %>
        </div>
      </div>
    </div>
  </div>
</div>
